on:
  push:
    branches:
      - master

name: Tag

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - run: |
          git fetch --tags

      - run: |
          tag=$(./scripts/parse-dockerfile-from Dockerfile | cut -f2)
          echo "tag: $tag"
          if ! git rev-parse --quiet --verify "refs/tags/$tag" > /dev/null; then
            git tag "$tag"
            git push --tags
          fi

