on:
  push:
    branches:
      - master

name: Tag

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - run: |
          git fetch --tags

      - run: |
          tag=$(./scripts/parse-dockerfile-from Dockerfile | cut -f2)
          echo "tag: $tag"
          if ! git rev-parse --quiet --verify "refs/tags/$tag" > /dev/null; then
            git tag "$tag"
            git push --tags
          fi

