on:
  push:
    branches:
      - master
  pull_request:

name: Test

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - run: |
          ./scripts/check-bases

      - run: |
          ./scripts/check-variants

      - run: |
          ./scripts/check-builds
