on:
  push:
    branches:
      - master
  pull_request:

name: Test

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - run: |
          ./scripts/check-bases

      - run: |
          ./scripts/check-variants

      - run: |
          ./scripts/check-builds
