on:
  push:
    branches:
      - master
  pull_request:

name: Test

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - run: |
          ./scripts/check-bases

      - run: |
          ./scripts/check-variants

      - run: |
          ./scripts/check-builds
